/* You can add global styles to this file, and also import other style files */
.page-wrapper{
    padding:15px;
    .accordion{
        border: 1px solid transparent;
    }
    .card-header{
        padding: 0;
    }
}

.label-sm{
    font-size: 12px;
}